body{
    background:rgba(175, 174, 174, 0.904)
}
*{margin:0; padding:0;}

.container{
    width:100%;
    max-width: 740px;
    margin:auto;
    display:block;
    background: white;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.wrapper img {
    margin: 22px auto;
}
.temp_photo{
    width:100%;
    max-width: 500px;
    border-radius: 5px;
    border: 3px groove chocolate;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display:block;
    margin-bottom: 15px;
}



.wrapper{
    text-align: center;
}

input.inputBox {
    margin: 5px 0px;
    outline: none;
    border: 1px solid #ddd;
    padding: 8px 13px;
    width: 250px;
    border-radius: 22px;
    background: #e0e33924;
    box-shadow: -2px 4px 8px 0px #00000096;
}



.wrapper h1 {
    font-family: 'Pacifico', cursive;

    background-image: url(https://pe-images.s3.amazonaws.com/type/effects/cc/transparent-background/new-background.jpg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat:repeat;

    font-size: 45px;
    text-align: center;
    text-transform: uppercase;
}



input.btndesign {
    width: 110px;
    text-align: center;
    background:  #dc7b28;
    border: none;
    outline: none;
    padding: 10px 11px;
    margin: 20px 4px;
    border-radius: 25px;
    box-shadow: 3px 3px 4px #514d4dc4;
    color: #fff;
    text-transform: uppercase;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
    -ms-transition: .1s;
    -o-transition: .1s;
}
input.btndesign:active {
    transform:translate(2px , 2px);
    -webkit-transform:translate(2px , 2px);
    -moz-transform:translate(2px , 2px);
    -ms-transform:translate(2px , 2px);
    -o-transform:translate(2px , 2px);
}


/* design ses */